<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <welcome-file-list>
        <welcome-file>templates/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.techblog.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.techblog.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>com.techblog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPostServlet</servlet-name>
        <servlet-class>com.techblog.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likeServlet</servlet-name>
        <servlet-class>com.techblog.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePostServlet</servlet-name>
        <servlet-class>com.techblog.servlets.DeletePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePostServlet</servlet-name>
        <url-pattern>/deletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likeServlet</servlet-name>
        <url-pattern>/likeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPostServlet</servlet-name>
        <url-pattern>/addPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.techblog.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <display-name>Archetype Created Web Application</display-name>
</web-app>